<ol>
  <li>
    I am 18 years of age or older.
  </li>
  <li>
    I understand that ListList DOES NOT become involved in transactions between parties and does not certify, investigate, or in any way guarantee the legal capacity of any party to transact.
  </li>
  <li>
    I am responsible for obeying all applicable enforcement mechanisms, including, but not limited to federal, state, municipal, and tribal statutes, rules, regulations, ordinances, and judicial decisions, any applicable Presidential Executive Orders, including compliance with all applicable licensing requirements.
  </li>
  <li>
    I will not use ListList.com for any illegal purpose.
  </li>
  <li>
    If I am at all unsure about firearm sales or transfers, I will contact the Bureau of Alcohol, Tobacco, Firearms, and Explosive at 1-800-ATF-GUNS and visit the ATF website at http://www.atf.gov.
  </li>
  <li>
    I will help to ensure the overall openness and accessibility of the site to all users through a peer-review process. I understand that failure to adhere to proper internet protocol and etiquette may result in removal of my listings or more severe corrective action.
  </li>
  <li>
    ListList may edit or remove information, including my listings, from the site without notice.
  </li>
  <li>
    If I violate these terms, ListList may permanently remove me from the site or, depending on the nature and severity of the violation, avail itself of such remedies as are prescribed by law. Whilst ListList ABSOLUTELY BELIEVES AND CHAMPIONS "the right of the people to keep and bear Arms," ListList will comply with federal, state, municipal, and tribal law enforcement entities pursuant to the Constitution of the United States and Due Process of Law.
  </li>
  <li>
    I take responsibility for my actions whilst using ListList.com. I also take responsibility for any and all of my actions related to, or resulting from, my use of ListList.com. Further, I am solely responsible for any and all consequences of such my actions.
  </li>
  <li>
    I indemnify and hold harmless ListList and all of its owners, directors, officers, employees, and agents for any and all loss, harm, damage, costs, liability, and expense caused to them, whether intentionally or unintentionally, by my use of ListList.com, including but not limited to direct or indirect results of violations of any and all applicable laws.
  </li>
  <li>
    ListList may make changes to these terms at any time without notifying me. As a user, I am solely responsible for reading the most current version of the terms and conditions.
  </li>
  <li>
    By clicking "Agree to Terms," I electronically represent ("sign") that I agree to the above terms and further certify that I have read, and completely agree, to be legally bound by the ListList Terms of Use
  </li>
</ol>