{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<h1>{{ title }}</h1>
<hr>




{% if apply_form %}
<form method='POST' action=''> {% csrf_token %}
	<h3>Rules of the ListList Marketplace</h3>

	{% include 'legal.html' %}
	{{ apply_form|crispy }}
<br/>
<input class="btn btn-default" type='submit'/>
</form>
{% endif %}

{% if products %}
	<h3>My Most Recent Products</h3>
	{% include "products/product_list_snippet.html" with product_list=products %}
	<a class="btn btn-primary" href="{% url 'sellers:product_list' %}">View All <i class="fa fa-list"></i></a>
{% endif %}

{% if active != None and active != False %}
<a class="btn btn-success" href="{% url 'sellers:product_create' %}">Post Ad <i class="fa fa-plus-circle"></i></a>
{% endif %}



{% endblock %}